// Config screen styles

// サンプルコードのコメントアウトを外して利用してください。
// $primary-color: #3498db;
// $secondary-color: #2ecc71;
// $tertiary-color: #f39c12;
// $danger-color: #e74c3c;

// .my-custom-button {
//   --kuc-button-background-color: #{$tertiary-color};
// }
